body{
  background-color: var(--paper);
}

.container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  gap: 0.8em;
  width: 100vw;
  height: 100vh;
}

.container header{
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 1.1em;
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.301);
  -moz-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.301);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.301);
  transition: all 0.5s;

}

.container header img {
  width: 12em;
}

.container .contend{

  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 15px;
}